@font-face {
    font-family: 'titulos';
    src: url(./tipografias/regularTitulos/RegularBrushPersonalUseOnly-gwavE.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texto';
    src: url(./tipografias/texto/EduVICWANTHandPre-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: #e6d2a8;
    color: #000;
    font-family: 'texto';
}

header {
    position: sticky;
    top: 0;
    z-index: 90;
}

.subMenu {
    display: block;
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    z-index: 9999;
}

.subMenu:hover {
    border-left: solid 10px black;
    background-color: #00000008;
    transition: 0.5s ease;
}

nav {
    background-color: #a2a078;
    display: flex;
    align-items: center;
    padding: 16px;
}

#abrir {
    border: none;
    display: inline-block;
    padding: 10px;
    margin-right: 60px;
}

#cerrar {
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#panelHamburguesa {
    height: 1000px;
    width: 500px;
    position: fixed;
    left: -600px;
    transition: left 0.7s ease;
    background-color: #f1c891;
    opacity: 0;
}

#panelHamburguesa:target{
    left: 0;
    z-index: 999;
    opacity: 1;
}

#fondoNegro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: background-color 1s ease, opacity 0.5s ease;
    pointer-events: none;
}

#panelHamburguesa:target ~ #fondoNegro {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.621);
    pointer-events: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.seccionPrincipal {
    background-color: #F7D2A3;
    display: flex;
    align-items:center;
    column-gap: 50px;
    scroll-margin-top: 85px;
}

#articleImagenes {
    margin: 10px 0 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articleTexto { 
    text-align: justify;
    margin-right: 50px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'titulos';
    text-align: end;
    letter-spacing: 5px;
    font-size: 35px;
}

p {
    letter-spacing: 2px;
}

h2 {
    font-family: 'titulos';
    letter-spacing: 5px;
    margin-bottom: 40px;
    font-size: 35px;
}

div > ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

div > ul > li {
    list-style-type: none;
    margin-left: -40px;
    letter-spacing: 2px;
}

.lista {
    display: flex;
    flex-direction: column;
}

.descripcion {
    font-size: 25px;
}

.integrantes {
    font-size: 20px;
}

.imagenIzquierda {
    width: 414px;
    height: 380px;
}

.imagenIzquierda2 {
    width: 300px;
    height: 500px;
}

#canciones {
    flex: 1;
    max-width: 1000px;
    padding: 16px 18px;
    scroll-margin-top: 60px;
}

.cancion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #0000007e;
    font-size: 19px;
}

.cancion11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #0000007e;
    border-bottom: 1px solid #0000007e;
    font-size: 19px;
}

.cancionInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

audio {
    width: 325px;
    height: 30px;
    opacity: 70%;
}

.imagenAlbum {
    display: flex;
    align-items: center;
    margin-top: 115px;
}

.imagenAlbum img {
    width: 800px;
    height: auto;
}

footer {
    background-color: #a2a078;
    padding: 1px;
}

.containerFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#imagenLogo {
    width: 150px;
    height: 120px;
}

#derechosReservados {
    display: flex;
    flex-direction: column;
}

#derechosReservados > p {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 6px;
}

#footer > ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.redesFooter > a > img {
    display: flex;
    width: 60px;
    height: 60px;
}